body{
    margin: 0;
    background-color: #fff;
}
.title {
    line-height: 41px;
    text-align:center;

    background-color: #5fc0fd;
}
.title2{
    position: relative;
    left: 8px;
    padding-top: 10px;
    float: left;
    line-height: 41px;
}
.title3{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}
.bottom{
    width: 100%;
    height: 55px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.message{

    width: 45%;
    height: 45px;
    /* line-height: 45px; */
    background-color: #fff;
    font-size: 17px;
    color: #5fc0fd;
    font-weight: 700;
    border-radius:5px;
    border:1px solid #5fc0fd;

}
.phone{
    margin-left: 5px;
    width: 45%;
    height: 45px;
    /* line-height: 45px; */
    background-color: #5fc0fd;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    border-radius:5px;
    border:1px solid #5fc0fd;

}
.backdrop{

    background-image: url(./task5-1.png);
    background-size: 100% 100%;
    height: 163px;

}
.print{
    position: relative;
    top: 40px;
    left: 15px;
}
.p1{
    position: relative;
    left: 28px;
    bottom: 15px;
    font-weight: 700;
    color: #fff;
}
.p2{
    position: relative;
    top:14px;
    right: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.line{
    margin-left: 11px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    border-left: 2px solid #5fc0fd;

}
.linebox{
    line-height: 15px;
    border-bottom: 1px solid #e1e5e7;
}
.line2{
    height: 40px;
    transform:translateY(10px);
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
}
.linebox3{
    margin-left: 17px;
    line-height: 40px;
    border-bottom: 1px solid #e1e5e7;
    border-top: 1px solid #e1e5e7;
}
.line3{
    /* display: inline-block; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #999999;
    border-right: 2px solid #e1e5e7;
}
.content{
    /* display: inline-block; */
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
}
.content2{
    /* display: inline-block; */
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #e26163;
}
.linebox4{
    display:flex;
    /* flex-flow: row; */
    margin-bottom: 60px;
    margin-left: 17px;
    /* line-height: 40px; */
    border-bottom: 1px solid #e1e5e7;
    border-top: 1px solid #e1e5e7;
}
/* .box{
    display:flex;
    flex-flow: column wrap;
    justify-content:center;

 } */
.line4{
    /* flex-grow: 0; */
    /* display: flex;
    justify-content:center;
    align-items:center; */
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 45px; */
    /* margin-bottom: 45px; */
    font-size: 14px;
    font-weight: 700;
    color: #999999;
    border-right: 2px solid #e1e5e7;
    /* display: inline-block; */
    min-width: 59px;

}
.content3{
    /* flex-grow: 1;
    display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 14px;
}
.xbox{
    display: flex;
    justify-content:center;
    align-items:center;
}